USE [springboot]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 10/4/2026 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[password] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [password], [username]) VALUES (1, N'123456', N'admin')
INSERT [dbo].[usuarios] ([id], [password], [username]) VALUES (3, N'123451', N'prueba')
INSERT [dbo].[usuarios] ([id], [password], [username]) VALUES (4, N'aaa111', N'usuario')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
